@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "NanumSquare", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: #2d2d2c;
    font-weight: 900;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #2d2d2c;
}
a{
    text-decoration: none;
}
button{
    margin: 0;
    padding: 0;
}

.button_black {
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px;
    font-family: "NanumSquare";
    font-weight: bold;
    position: absolute;
    bottom: 8px;
}

.main_title {
    position: relative;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    font-family: "NanumSquareRound";
}
.main_content {
    position: relative;
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
    overflow: auto;
    max-height: 90px;
    line-height: 1.33;
}
.main_image {
    max-height: 150px;
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
.date {
    font-size: 12px;
    color: gray;
}
.write_title{
    font-weight: 800;
    font-size: 24px;
    font-family: "NanumSquareRound";
}
.filebox{
    align-items: center;
}
.imgform{
    align-items: center;
    text-align: center;
}
/***********스크롤 관련************/
::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #e9ecef;
}
::-webkit-scrollbar-button {
  width: 20px;
}


